
<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

  名前:
  <br>
  <%= f.text_field :name %>
  <br>
  <br>
  内容:
  <textarea class="form-control" rows="3"></textarea>
  <br>
  <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>
